body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 252, 240);
}

h1 {
  margin: 0;
  font-size: clamp(1.2rem, 2rem, 2.8rem); /*twice the body text*/
}

h2 {
margin-top: 2vh;
  margin-bottom: 0;
  font-size: clamp(0.8rem, 1.4rem, 2rem); /*1.4x the body text*/
}

a {
  color: inherit;
}

img {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 500px;
}

iframe {
  margin-top: 2vh;
}

p, li {
  margin-top: 2vh;
  margin-bottom: 0;
  font-size: clamp(0.6rem, 1rem, 1.4rem);
  line-height: clamp(0.8rem, 1.2rem, 1.6rem);
  text-align: left;
}

.container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.disclaimer {
  color: rgb(82, 82, 82);
  margin-bottom: 2vh;
}

.caption {
  font-size: clamp(0.4rem, 0.8rem, 1.2rem);
  margin-top: 0;
  margin-bottom: 1vh;
  color: rgb(82, 82, 82);
}

.byline {
    font-weight: 700;
    margin-top: 1vh;
    margin-bottom: 1vh;
}